/*=====================================================border-radius==========================================================*/
.br-1{
	border-radius:1px !important;
}

.br-2{
	border-radius:2px !important;
}

.br-3{
	border-radius:3px !important;
}

.br-4{
	border-radius:4px !important;
}

.br-5{
	border-radius:5px !important;
}

.br-6{
	border-radius:6px !important;
}

.br-7{
	border-radius:7px !important;
}

.br-8{
	border-radius:8px !important;
}

.br-9{
	border-radius:9px !important;
}

.br-10{
	border-radius:10px !important;
}

.br-11{
	border-radius:11px !important;
}

.br-12{
	border-radius:12px !important;
}

.br-13{
	border-radius:13px !important;
}

.br-14{
	border-radius:14px !important;
}

.br-15{
	border-radius:15px !important;
}

.br-16{
	border-radius:16px !important;
}

.br-17{
	border-radius:17px !important;
}

.br-18{
	border-radius:18px !important;
}

.br-19{
	border-radius:19px !important;
}

.br-20{
	border-radius:20px !important;
}

.br-21{
	border-radius:21px !important;
}

.br-22{
	border-radius:22px !important;
}

.br-23{
	border-radius:23px !important;
}

.br-24{
	border-radius:24px !important;
}

.br-25{
	border-radius:25px !important;
}

.br-26{
	border-radius:26px !important;
}

.br-27{
	border-radius:27px !important;
}

.br-28{
	border-radius:28px !important;
}

.br-29{
	border-radius:29px !important;
}

.br-30{
	border-radius:30px !important;
}

.br-31{
	border-radius:31px !important;
}

.br-32{
	border-radius:32px !important;
}

.br-33{
	border-radius:33px !important;
}

.br-34{
	border-radius:34px !important;
}

.br-35{
	border-radius:35px !important;
}

.br-36{
	border-radius:36px !important;
}

.br-37{
	border-radius:37px !important;
}

.br-38{
	border-radius:38px !important;
}

.br-39{
	border-radius:39px !important;
}

.br-40{
	border-radius:40px !important;
}

.br-41{
	border-radius:41px !important;
}

.br-42{
	border-radius:42px !important;
}

.br-43{
	border-radius:43px !important;
}

.br-44{
	border-radius:44px !important;
}

.br-45{
	border-radius:45px !important;
}

.br-46{
	border-radius:46px !important;
}

.br-47{
	border-radius:47px !important;
}

.br-48{
	border-radius:48px !important;
}

.br-49{
	border-radius:49px !important;
}

.br-50{
	border-radius:50px !important;
}

.br-51{
	border-radius:51px !important;
}

.br-52{
	border-radius:52px !important;
}

.br-53{
	border-radius:53px !important;
}

.br-54{
	border-radius:54px !important;
}

.br-55{
	border-radius:55px !important;
}

.br-56{
	border-radius:56px !important;
}

.br-57{
	border-radius:57px !important;
}

.br-58{
	border-radius:58px !important;
}

.br-59{
	border-radius:59px !important;
}

.br-60{
	border-radius:60px !important;
}

.br-61{
	border-radius:61px !important;
}

.br-62{
	border-radius:62px !important;
}

.br-63{
	border-radius:63px !important;
}

.br-64{
	border-radius:64px !important;
}

.br-65{
	border-radius:65px !important;
}

.br-66{
	border-radius:66px !important;
}

.br-67{
	border-radius:67px !important;
}

.br-68{
	border-radius:68px !important;
}

.br-69{
	border-radius:69px !important;
}

.br-70{
	border-radius:70px !important;
}

.br-71{
	border-radius:71px !important;
}

.br-72{
	border-radius:72px !important;
}

.br-73{
	border-radius:73px !important;
}

.br-74{
	border-radius:74px !important;
}

.br-75{
	border-radius:75px !important;
}

.br-76{
	border-radius:76px !important;
}

.br-77{
	border-radius:77px !important;
}

.br-78{
	border-radius:78px !important;
}

.br-79{
	border-radius:79px !important;
}

.br-80{
	border-radius:80px !important;
}

.br-81{
	border-radius:81px !important;
}

.br-82{
	border-radius:82px !important;
}

.br-83{
	border-radius:83px !important;
}

.br-84{
	border-radius:84px !important;
}

.br-85{
	border-radius:85px !important;
}

.br-86{
	border-radius:86px !important;
}

.br-87{
	border-radius:87px !important;
}

.br-88{
	border-radius:88px !important;
}

.br-89{
	border-radius:89px !important;
}

.br-90{
	border-radius:90px !important;
}

.br-91{
	border-radius:91px !important;
}

.br-92{
	border-radius:92px !important;
}

.br-93{
	border-radius:93px !important;
}

.br-94{
	border-radius:94px !important;
}

.br-95{
	border-radius:95px !important;
}

.br-96{
	border-radius:96px !important;
}

.br-97{
	border-radius:97px !important;
}

.br-98{
	border-radius:98px !important;
}

.br-99{
	border-radius:99px !important;
}

.br-100{
	border-radius:100px !important;
}

/*=====================================================border-top-left-radius==========================================================*/
.brtl-1{
	border-top-left-radius:1px !important;
}

.brtl-2{
	border-top-left-radius:2px !important;
}

.brtl-3{
	border-top-left-radius:3px !important;
}

.brtl-4{
	border-top-left-radius:4px !important;
}

.brtl-5{
	border-top-left-radius:5px !important;
}

.brtl-6{
	border-top-left-radius:6px !important;
}

.brtl-7{
	border-top-left-radius:7px !important;
}

.brtl-8{
	border-top-left-radius:8px !important;
}

.brtl-9{
	border-top-left-radius:9px !important;
}

.brtl-10{
	border-top-left-radius:10px !important;
}

.brtl-11{
	border-top-left-radius:11px !important;
}

.brtl-12{
	border-top-left-radius:12px !important;
}

.brtl-13{
	border-top-left-radius:13px !important;
}

.brtl-14{
	border-top-left-radius:14px !important;
}

.brtl-15{
	border-top-left-radius:15px !important;
}

.brtl-16{
	border-top-left-radius:16px !important;
}

.brtl-17{
	border-top-left-radius:17px !important;
}

.brtl-18{
	border-top-left-radius:18px !important;
}

.brtl-19{
	border-top-left-radius:19px !important;
}

.brtl-20{
	border-top-left-radius:20px !important;
}

.brtl-21{
	border-top-left-radius:21px !important;
}

.brtl-22{
	border-top-left-radius:22px !important;
}

.brtl-23{
	border-top-left-radius:23px !important;
}

.brtl-24{
	border-top-left-radius:24px !important;
}

.brtl-25{
	border-top-left-radius:25px !important;
}

.brtl-26{
	border-top-left-radius:26px !important;
}

.brtl-27{
	border-top-left-radius:27px !important;
}

.brtl-28{
	border-top-left-radius:28px !important;
}

.brtl-29{
	border-top-left-radius:29px !important;
}

.brtl-30{
	border-top-left-radius:30px !important;
}

.brtl-31{
	border-top-left-radius:31px !important;
}

.brtl-32{
	border-top-left-radius:32px !important;
}

.brtl-33{
	border-top-left-radius:33px !important;
}

.brtl-34{
	border-top-left-radius:34px !important;
}

.brtl-35{
	border-top-left-radius:35px !important;
}

.brtl-36{
	border-top-left-radius:36px !important;
}

.brtl-37{
	border-top-left-radius:37px !important;
}

.brtl-38{
	border-top-left-radius:38px !important;
}

.brtl-39{
	border-top-left-radius:39px !important;
}

.brtl-40{
	border-top-left-radius:40px !important;
}

.brtl-41{
	border-top-left-radius:41px !important;
}

.brtl-42{
	border-top-left-radius:42px !important;
}

.brtl-43{
	border-top-left-radius:43px !important;
}

.brtl-44{
	border-top-left-radius:44px !important;
}

.brtl-45{
	border-top-left-radius:45px !important;
}

.brtl-46{
	border-top-left-radius:46px !important;
}

.brtl-47{
	border-top-left-radius:47px !important;
}

.brtl-48{
	border-top-left-radius:48px !important;
}

.brtl-49{
	border-top-left-radius:49px !important;
}

.brtl-50{
	border-top-left-radius:50px !important;
}

.brtl-51{
	border-top-left-radius:51px !important;
}

.brtl-52{
	border-top-left-radius:52px !important;
}

.brtl-53{
	border-top-left-radius:53px !important;
}

.brtl-54{
	border-top-left-radius:54px !important;
}

.brtl-55{
	border-top-left-radius:55px !important;
}

.brtl-56{
	border-top-left-radius:56px !important;
}

.brtl-57{
	border-top-left-radius:57px !important;
}

.brtl-58{
	border-top-left-radius:58px !important;
}

.brtl-59{
	border-top-left-radius:59px !important;
}

.brtl-60{
	border-top-left-radius:60px !important;
}

.brtl-61{
	border-top-left-radius:61px !important;
}

.brtl-62{
	border-top-left-radius:62px !important;
}

.brtl-63{
	border-top-left-radius:63px !important;
}

.brtl-64{
	border-top-left-radius:64px !important;
}

.brtl-65{
	border-top-left-radius:65px !important;
}

.brtl-66{
	border-top-left-radius:66px !important;
}

.brtl-67{
	border-top-left-radius:67px !important;
}

.brtl-68{
	border-top-left-radius:68px !important;
}

.brtl-69{
	border-top-left-radius:69px !important;
}

.brtl-70{
	border-top-left-radius:70px !important;
}

.brtl-71{
	border-top-left-radius:71px !important;
}

.brtl-72{
	border-top-left-radius:72px !important;
}

.brtl-73{
	border-top-left-radius:73px !important;
}

.brtl-74{
	border-top-left-radius:74px !important;
}

.brtl-75{
	border-top-left-radius:75px !important;
}

.brtl-76{
	border-top-left-radius:76px !important;
}

.brtl-77{
	border-top-left-radius:77px !important;
}

.brtl-78{
	border-top-left-radius:78px !important;
}

.brtl-79{
	border-top-left-radius:79px !important;
}

.brtl-80{
	border-top-left-radius:80px !important;
}

.brtl-81{
	border-top-left-radius:81px !important;
}

.brtl-82{
	border-top-left-radius:82px !important;
}

.brtl-83{
	border-top-left-radius:83px !important;
}

.brtl-84{
	border-top-left-radius:84px !important;
}

.brtl-85{
	border-top-left-radius:85px !important;
}

.brtl-86{
	border-top-left-radius:86px !important;
}

.brtl-87{
	border-top-left-radius:87px !important;
}

.brtl-88{
	border-top-left-radius:88px !important;
}

.brtl-89{
	border-top-left-radius:89px !important;
}

.brtl-90{
	border-top-left-radius:90px !important;
}

.brtl-91{
	border-top-left-radius:91px !important;
}

.brtl-92{
	border-top-left-radius:92px !important;
}

.brtl-93{
	border-top-left-radius:93px !important;
}

.brtl-94{
	border-top-left-radius:94px !important;
}

.brtl-95{
	border-top-left-radius:95px !important;
}

.brtl-96{
	border-top-left-radius:96px !important;
}

.brtl-97{
	border-top-left-radius:97px !important;
}

.brtl-98{
	border-top-left-radius:98px !important;
}

.brtl-99{
	border-top-left-radius:99px !important;
}

.brtl-100{
	border-top-left-radius:100px !important;
}

/*=====================================================border-top-right-radius==========================================================*/
.brtr-1{
	border-top-right-radius:1px !important;
}

.brtr-2{
	border-top-right-radius:2px !important;
}

.brtr-3{
	border-top-right-radius:3px !important;
}

.brtr-4{
	border-top-right-radius:4px !important;
}

.brtr-5{
	border-top-right-radius:5px !important;
}

.brtr-6{
	border-top-right-radius:6px !important;
}

.brtr-7{
	border-top-right-radius:7px !important;
}

.brtr-8{
	border-top-right-radius:8px !important;
}

.brtr-9{
	border-top-right-radius:9px !important;
}

.brtr-10{
	border-top-right-radius:10px !important;
}

.brtr-11{
	border-top-right-radius:11px !important;
}

.brtr-12{
	border-top-right-radius:12px !important;
}

.brtr-13{
	border-top-right-radius:13px !important;
}

.brtr-14{
	border-top-right-radius:14px !important;
}

.brtr-15{
	border-top-right-radius:15px !important;
}

.brtr-16{
	border-top-right-radius:16px !important;
}

.brtr-17{
	border-top-right-radius:17px !important;
}

.brtr-18{
	border-top-right-radius:18px !important;
}

.brtr-19{
	border-top-right-radius:19px !important;
}

.brtr-20{
	border-top-right-radius:20px !important;
}

.brtr-21{
	border-top-right-radius:21px !important;
}

.brtr-22{
	border-top-right-radius:22px !important;
}

.brtr-23{
	border-top-right-radius:23px !important;
}

.brtr-24{
	border-top-right-radius:24px !important;
}

.brtr-25{
	border-top-right-radius:25px !important;
}

.brtr-26{
	border-top-right-radius:26px !important;
}

.brtr-27{
	border-top-right-radius:27px !important;
}

.brtr-28{
	border-top-right-radius:28px !important;
}

.brtr-29{
	border-top-right-radius:29px !important;
}

.brtr-30{
	border-top-right-radius:30px !important;
}

.brtr-31{
	border-top-right-radius:31px !important;
}

.brtr-32{
	border-top-right-radius:32px !important;
}

.brtr-33{
	border-top-right-radius:33px !important;
}

.brtr-34{
	border-top-right-radius:34px !important;
}

.brtr-35{
	border-top-right-radius:35px !important;
}

.brtr-36{
	border-top-right-radius:36px !important;
}

.brtr-37{
	border-top-right-radius:37px !important;
}

.brtr-38{
	border-top-right-radius:38px !important;
}

.brtr-39{
	border-top-right-radius:39px !important;
}

.brtr-40{
	border-top-right-radius:40px !important;
}

.brtr-41{
	border-top-right-radius:41px !important;
}

.brtr-42{
	border-top-right-radius:42px !important;
}

.brtr-43{
	border-top-right-radius:43px !important;
}

.brtr-44{
	border-top-right-radius:44px !important;
}

.brtr-45{
	border-top-right-radius:45px !important;
}

.brtr-46{
	border-top-right-radius:46px !important;
}

.brtr-47{
	border-top-right-radius:47px !important;
}

.brtr-48{
	border-top-right-radius:48px !important;
}

.brtr-49{
	border-top-right-radius:49px !important;
}

.brtr-50{
	border-top-right-radius:50px !important;
}

.brtr-51{
	border-top-right-radius:51px !important;
}

.brtr-52{
	border-top-right-radius:52px !important;
}

.brtr-53{
	border-top-right-radius:53px !important;
}

.brtr-54{
	border-top-right-radius:54px !important;
}

.brtr-55{
	border-top-right-radius:55px !important;
}

.brtr-56{
	border-top-right-radius:56px !important;
}

.brtr-57{
	border-top-right-radius:57px !important;
}

.brtr-58{
	border-top-right-radius:58px !important;
}

.brtr-59{
	border-top-right-radius:59px !important;
}

.brtr-60{
	border-top-right-radius:60px !important;
}

.brtr-61{
	border-top-right-radius:61px !important;
}

.brtr-62{
	border-top-right-radius:62px !important;
}

.brtr-63{
	border-top-right-radius:63px !important;
}

.brtr-64{
	border-top-right-radius:64px !important;
}

.brtr-65{
	border-top-right-radius:65px !important;
}

.brtr-66{
	border-top-right-radius:66px !important;
}

.brtr-67{
	border-top-right-radius:67px !important;
}

.brtr-68{
	border-top-right-radius:68px !important;
}

.brtr-69{
	border-top-right-radius:69px !important;
}

.brtr-70{
	border-top-right-radius:70px !important;
}

.brtr-71{
	border-top-right-radius:71px !important;
}

.brtr-72{
	border-top-right-radius:72px !important;
}

.brtr-73{
	border-top-right-radius:73px !important;
}

.brtr-74{
	border-top-right-radius:74px !important;
}

.brtr-75{
	border-top-right-radius:75px !important;
}

.brtr-76{
	border-top-right-radius:76px !important;
}

.brtr-77{
	border-top-right-radius:77px !important;
}

.brtr-78{
	border-top-right-radius:78px !important;
}

.brtr-79{
	border-top-right-radius:79px !important;
}

.brtr-80{
	border-top-right-radius:80px !important;
}

.brtr-81{
	border-top-right-radius:81px !important;
}

.brtr-82{
	border-top-right-radius:82px !important;
}

.brtr-83{
	border-top-right-radius:83px !important;
}

.brtr-84{
	border-top-right-radius:84px !important;
}

.brtr-85{
	border-top-right-radius:85px !important;
}

.brtr-86{
	border-top-right-radius:86px !important;
}

.brtr-87{
	border-top-right-radius:87px !important;
}

.brtr-88{
	border-top-right-radius:88px !important;
}

.brtr-89{
	border-top-right-radius:89px !important;
}

.brtr-90{
	border-top-right-radius:90px !important;
}

.brtr-91{
	border-top-right-radius:91px !important;
}

.brtr-92{
	border-top-right-radius:92px !important;
}

.brtr-93{
	border-top-right-radius:93px !important;
}

.brtr-94{
	border-top-right-radius:94px !important;
}

.brtr-95{
	border-top-right-radius:95px !important;
}

.brtr-96{
	border-top-right-radius:96px !important;
}

.brtr-97{
	border-top-right-radius:97px !important;
}

.brtr-98{
	border-top-right-radius:98px !important;
}

.brtr-99{
	border-top-right-radius:99px !important;
}

.brtr-100{
	border-top-right-radius:100px !important;
}

/*=====================================================border-bottom-right-radius==========================================================*/
.brbr-1{
	border-bottom-right-radius:1px !important;
}

.brbr-2{
	border-bottom-right-radius:2px !important;
}

.brbr-3{
	border-bottom-right-radius:3px !important;
}

.brbr-4{
	border-bottom-right-radius:4px !important;
}

.brbr-5{
	border-bottom-right-radius:5px !important;
}

.brbr-6{
	border-bottom-right-radius:6px !important;
}

.brbr-7{
	border-bottom-right-radius:7px !important;
}

.brbr-8{
	border-bottom-right-radius:8px !important;
}

.brbr-9{
	border-bottom-right-radius:9px !important;
}

.brbr-10{
	border-bottom-right-radius:10px !important;
}

.brbr-11{
	border-bottom-right-radius:11px !important;
}

.brbr-12{
	border-bottom-right-radius:12px !important;
}

.brbr-13{
	border-bottom-right-radius:13px !important;
}

.brbr-14{
	border-bottom-right-radius:14px !important;
}

.brbr-15{
	border-bottom-right-radius:15px !important;
}

.brbr-16{
	border-bottom-right-radius:16px !important;
}

.brbr-17{
	border-bottom-right-radius:17px !important;
}

.brbr-18{
	border-bottom-right-radius:18px !important;
}

.brbr-19{
	border-bottom-right-radius:19px !important;
}

.brbr-20{
	border-bottom-right-radius:20px !important;
}

.brbr-21{
	border-bottom-right-radius:21px !important;
}

.brbr-22{
	border-bottom-right-radius:22px !important;
}

.brbr-23{
	border-bottom-right-radius:23px !important;
}

.brbr-24{
	border-bottom-right-radius:24px !important;
}

.brbr-25{
	border-bottom-right-radius:25px !important;
}

.brbr-26{
	border-bottom-right-radius:26px !important;
}

.brbr-27{
	border-bottom-right-radius:27px !important;
}

.brbr-28{
	border-bottom-right-radius:28px !important;
}

.brbr-29{
	border-bottom-right-radius:29px !important;
}

.brbr-30{
	border-bottom-right-radius:30px !important;
}

.brbr-31{
	border-bottom-right-radius:31px !important;
}

.brbr-32{
	border-bottom-right-radius:32px !important;
}

.brbr-33{
	border-bottom-right-radius:33px !important;
}

.brbr-34{
	border-bottom-right-radius:34px !important;
}

.brbr-35{
	border-bottom-right-radius:35px !important;
}

.brbr-36{
	border-bottom-right-radius:36px !important;
}

.brbr-37{
	border-bottom-right-radius:37px !important;
}

.brbr-38{
	border-bottom-right-radius:38px !important;
}

.brbr-39{
	border-bottom-right-radius:39px !important;
}

.brbr-40{
	border-bottom-right-radius:40px !important;
}

.brbr-41{
	border-bottom-right-radius:41px !important;
}

.brbr-42{
	border-bottom-right-radius:42px !important;
}

.brbr-43{
	border-bottom-right-radius:43px !important;
}

.brbr-44{
	border-bottom-right-radius:44px !important;
}

.brbr-45{
	border-bottom-right-radius:45px !important;
}

.brbr-46{
	border-bottom-right-radius:46px !important;
}

.brbr-47{
	border-bottom-right-radius:47px !important;
}

.brbr-48{
	border-bottom-right-radius:48px !important;
}

.brbr-49{
	border-bottom-right-radius:49px !important;
}

.brbr-50{
	border-bottom-right-radius:50px !important;
}

.brbr-51{
	border-bottom-right-radius:51px !important;
}

.brbr-52{
	border-bottom-right-radius:52px !important;
}

.brbr-53{
	border-bottom-right-radius:53px !important;
}

.brbr-54{
	border-bottom-right-radius:54px !important;
}

.brbr-55{
	border-bottom-right-radius:55px !important;
}

.brbr-56{
	border-bottom-right-radius:56px !important;
}

.brbr-57{
	border-bottom-right-radius:57px !important;
}

.brbr-58{
	border-bottom-right-radius:58px !important;
}

.brbr-59{
	border-bottom-right-radius:59px !important;
}

.brbr-60{
	border-bottom-right-radius:60px !important;
}

.brbr-61{
	border-bottom-right-radius:61px !important;
}

.brbr-62{
	border-bottom-right-radius:62px !important;
}

.brbr-63{
	border-bottom-right-radius:63px !important;
}

.brbr-64{
	border-bottom-right-radius:64px !important;
}

.brbr-65{
	border-bottom-right-radius:65px !important;
}

.brbr-66{
	border-bottom-right-radius:66px !important;
}

.brbr-67{
	border-bottom-right-radius:67px !important;
}

.brbr-68{
	border-bottom-right-radius:68px !important;
}

.brbr-69{
	border-bottom-right-radius:69px !important;
}

.brbr-70{
	border-bottom-right-radius:70px !important;
}

.brbr-71{
	border-bottom-right-radius:71px !important;
}

.brbr-72{
	border-bottom-right-radius:72px !important;
}

.brbr-73{
	border-bottom-right-radius:73px !important;
}

.brbr-74{
	border-bottom-right-radius:74px !important;
}

.brbr-75{
	border-bottom-right-radius:75px !important;
}

.brbr-76{
	border-bottom-right-radius:76px !important;
}

.brbr-77{
	border-bottom-right-radius:77px !important;
}

.brbr-78{
	border-bottom-right-radius:78px !important;
}

.brbr-79{
	border-bottom-right-radius:79px !important;
}

.brbr-80{
	border-bottom-right-radius:80px !important;
}

.brbr-81{
	border-bottom-right-radius:81px !important;
}

.brbr-82{
	border-bottom-right-radius:82px !important;
}

.brbr-83{
	border-bottom-right-radius:83px !important;
}

.brbr-84{
	border-bottom-right-radius:84px !important;
}

.brbr-85{
	border-bottom-right-radius:85px !important;
}

.brbr-86{
	border-bottom-right-radius:86px !important;
}

.brbr-87{
	border-bottom-right-radius:87px !important;
}

.brbr-88{
	border-bottom-right-radius:88px !important;
}

.brbr-89{
	border-bottom-right-radius:89px !important;
}

.brbr-90{
	border-bottom-right-radius:90px !important;
}

.brbr-91{
	border-bottom-right-radius:91px !important;
}

.brbr-92{
	border-bottom-right-radius:92px !important;
}

.brbr-93{
	border-bottom-right-radius:93px !important;
}

.brbr-94{
	border-bottom-right-radius:94px !important;
}

.brbr-95{
	border-bottom-right-radius:95px !important;
}

.brbr-96{
	border-bottom-right-radius:96px !important;
}

.brbr-97{
	border-bottom-right-radius:97px !important;
}

.brbr-98{
	border-bottom-right-radius:98px !important;
}

.brbr-99{
	border-bottom-right-radius:99px !important;
}

.brbr-100{
	border-bottom-right-radius:100px !important;
}

/*=====================================================border-bottom-left-radius==========================================================*/
.brbl-1{
	border-bottom-left-radius:1px !important;
}

.brbl-2{
	border-bottom-left-radius:2px !important;
}

.brbl-3{
	border-bottom-left-radius:3px !important;
}

.brbl-4{
	border-bottom-left-radius:4px !important;
}

.brbl-5{
	border-bottom-left-radius:5px !important;
}

.brbl-6{
	border-bottom-left-radius:6px !important;
}

.brbl-7{
	border-bottom-left-radius:7px !important;
}

.brbl-8{
	border-bottom-left-radius:8px !important;
}

.brbl-9{
	border-bottom-left-radius:9px !important;
}

.brbl-10{
	border-bottom-left-radius:10px !important;
}

.brbl-11{
	border-bottom-left-radius:11px !important;
}

.brbl-12{
	border-bottom-left-radius:12px !important;
}

.brbl-13{
	border-bottom-left-radius:13px !important;
}

.brbl-14{
	border-bottom-left-radius:14px !important;
}

.brbl-15{
	border-bottom-left-radius:15px !important;
}

.brbl-16{
	border-bottom-left-radius:16px !important;
}

.brbl-17{
	border-bottom-left-radius:17px !important;
}

.brbl-18{
	border-bottom-left-radius:18px !important;
}

.brbl-19{
	border-bottom-left-radius:19px !important;
}

.brbl-20{
	border-bottom-left-radius:20px !important;
}

.brbl-21{
	border-bottom-left-radius:21px !important;
}

.brbl-22{
	border-bottom-left-radius:22px !important;
}

.brbl-23{
	border-bottom-left-radius:23px !important;
}

.brbl-24{
	border-bottom-left-radius:24px !important;
}

.brbl-25{
	border-bottom-left-radius:25px !important;
}

.brbl-26{
	border-bottom-left-radius:26px !important;
}

.brbl-27{
	border-bottom-left-radius:27px !important;
}

.brbl-28{
	border-bottom-left-radius:28px !important;
}

.brbl-29{
	border-bottom-left-radius:29px !important;
}

.brbl-30{
	border-bottom-left-radius:30px !important;
}

.brbl-31{
	border-bottom-left-radius:31px !important;
}

.brbl-32{
	border-bottom-left-radius:32px !important;
}

.brbl-33{
	border-bottom-left-radius:33px !important;
}

.brbl-34{
	border-bottom-left-radius:34px !important;
}

.brbl-35{
	border-bottom-left-radius:35px !important;
}

.brbl-36{
	border-bottom-left-radius:36px !important;
}

.brbl-37{
	border-bottom-left-radius:37px !important;
}

.brbl-38{
	border-bottom-left-radius:38px !important;
}

.brbl-39{
	border-bottom-left-radius:39px !important;
}

.brbl-40{
	border-bottom-left-radius:40px !important;
}

.brbl-41{
	border-bottom-left-radius:41px !important;
}

.brbl-42{
	border-bottom-left-radius:42px !important;
}

.brbl-43{
	border-bottom-left-radius:43px !important;
}

.brbl-44{
	border-bottom-left-radius:44px !important;
}

.brbl-45{
	border-bottom-left-radius:45px !important;
}

.brbl-46{
	border-bottom-left-radius:46px !important;
}

.brbl-47{
	border-bottom-left-radius:47px !important;
}

.brbl-48{
	border-bottom-left-radius:48px !important;
}

.brbl-49{
	border-bottom-left-radius:49px !important;
}

.brbl-50{
	border-bottom-left-radius:50px !important;
}

.brbl-51{
	border-bottom-left-radius:51px !important;
}

.brbl-52{
	border-bottom-left-radius:52px !important;
}

.brbl-53{
	border-bottom-left-radius:53px !important;
}

.brbl-54{
	border-bottom-left-radius:54px !important;
}

.brbl-55{
	border-bottom-left-radius:55px !important;
}

.brbl-56{
	border-bottom-left-radius:56px !important;
}

.brbl-57{
	border-bottom-left-radius:57px !important;
}

.brbl-58{
	border-bottom-left-radius:58px !important;
}

.brbl-59{
	border-bottom-left-radius:59px !important;
}

.brbl-60{
	border-bottom-left-radius:60px !important;
}

.brbl-61{
	border-bottom-left-radius:61px !important;
}

.brbl-62{
	border-bottom-left-radius:62px !important;
}

.brbl-63{
	border-bottom-left-radius:63px !important;
}

.brbl-64{
	border-bottom-left-radius:64px !important;
}

.brbl-65{
	border-bottom-left-radius:65px !important;
}

.brbl-66{
	border-bottom-left-radius:66px !important;
}

.brbl-67{
	border-bottom-left-radius:67px !important;
}

.brbl-68{
	border-bottom-left-radius:68px !important;
}

.brbl-69{
	border-bottom-left-radius:69px !important;
}

.brbl-70{
	border-bottom-left-radius:70px !important;
}

.brbl-71{
	border-bottom-left-radius:71px !important;
}

.brbl-72{
	border-bottom-left-radius:72px !important;
}

.brbl-73{
	border-bottom-left-radius:73px !important;
}

.brbl-74{
	border-bottom-left-radius:74px !important;
}

.brbl-75{
	border-bottom-left-radius:75px !important;
}

.brbl-76{
	border-bottom-left-radius:76px !important;
}

.brbl-77{
	border-bottom-left-radius:77px !important;
}

.brbl-78{
	border-bottom-left-radius:78px !important;
}

.brbl-79{
	border-bottom-left-radius:79px !important;
}

.brbl-80{
	border-bottom-left-radius:80px !important;
}

.brbl-81{
	border-bottom-left-radius:81px !important;
}

.brbl-82{
	border-bottom-left-radius:82px !important;
}

.brbl-83{
	border-bottom-left-radius:83px !important;
}

.brbl-84{
	border-bottom-left-radius:84px !important;
}

.brbl-85{
	border-bottom-left-radius:85px !important;
}

.brbl-86{
	border-bottom-left-radius:86px !important;
}

.brbl-87{
	border-bottom-left-radius:87px !important;
}

.brbl-88{
	border-bottom-left-radius:88px !important;
}

.brbl-89{
	border-bottom-left-radius:89px !important;
}

.brbl-90{
	border-bottom-left-radius:90px !important;
}

.brbl-91{
	border-bottom-left-radius:91px !important;
}

.brbl-92{
	border-bottom-left-radius:92px !important;
}

.brbl-93{
	border-bottom-left-radius:93px !important;
}

.brbl-94{
	border-bottom-left-radius:94px !important;
}

.brbl-95{
	border-bottom-left-radius:95px !important;
}

.brbl-96{
	border-bottom-left-radius:96px !important;
}

.brbl-97{
	border-bottom-left-radius:97px !important;
}

.brbl-98{
	border-bottom-left-radius:98px !important;
}

.brbl-99{
	border-bottom-left-radius:99px !important;
}

.brbl-100{
	border-bottom-left-radius:100px !important;
}