
.blackcolor{
	color:black !important;
}

.bluecolor{
	color:blue !important;
}

.greencolor{
	color:green !important;
}

.pinkcolor{
	color:pink !important;
}

.redcolor{
	color:red !important;
}

.yellowcolor{
	color:yellow !important;
}

.greycolor{
	color:grey !important;
}

.whitecolor{
	color:white !important;
}

.blackbackground{
	background-color:black !important;
}

.greybackground{
	background-color:grey !important;
}

.whitebackground{
	background-color:white !important;
}


