/*=====================================================margin==========================================================*/
.mar-1{
	margin:1px !important;
}

.mar-2{
	margin:2px !important;
}

.mar-3{
	margin:3px !important;
}

.mar-4{
	margin:4px !important;
}

.mar-5{
	margin:5px !important;
}

.mar-6{
	margin:6px !important;
}

.mar-7{
	margin:7px !important;
}

.mar-8{
	margin:8px !important;
}

.mar-9{
	margin:9px !important;
}

.mar-10{
	margin:10px !important;
}

.mar-11{
	margin:11px !important;
}

.mar-12{
	margin:12px !important;
}

.mar-13{
	margin:13px !important;
}

.mar-14{
	margin:14px !important;
}

.mar-15{
	margin:15px !important;
}

.mar-16{
	margin:16px !important;
}

.mar-17{
	margin:17px !important;
}

.mar-18{
	margin:18px !important;
}

.mar-19{
	margin:19px !important;
}

.mar-20{
	margin:20px !important;
}

.mar-21{
	margin:21px !important;
}

.mar-22{
	margin:22px !important;
}

.mar-23{
	margin:23px !important;
}

.mar-24{
	margin:24px !important;
}

.mar-25{
	margin:25px !important;
}

.mar-26{
	margin:26px !important;
}

.mar-27{
	margin:27px !important;
}

.mar-28{
	margin:28px !important;
}

.mar-29{
	margin:29px !important;
}

.mar-30{
	margin:30px !important;
}

.mar-31{
	margin:31px !important;
}

.mar-32{
	margin:32px !important;
}

.mar-33{
	margin:33px !important;
}

.mar-34{
	margin:34px !important;
}

.mar-35{
	margin:35px !important;
}

.mar-36{
	margin:36px !important;
}

.mar-37{
	margin:37px !important;
}

.mar-38{
	margin:38px !important;
}

.mar-39{
	margin:39px !important;
}

.mar-40{
	margin:40px !important;
}

.mar-41{
	margin:41px !important;
}

.mar-42{
	margin:42px !important;
}

.mar-43{
	margin:43px !important;
}

.mar-44{
	margin:44px !important;
}

.mar-45{
	margin:45px !important;
}

.mar-46{
	margin:46px !important;
}

.mar-47{
	margin:47px !important;
}

.mar-48{
	margin:48px !important;
}

.mar-49{
	margin:49px !important;
}

.mar-50{
	margin:50px !important;
}

.mar-51{
	margin:51px !important;
}

.mar-52{
	margin:52px !important;
}

.mar-53{
	margin:53px !important;
}

.mar-54{
	margin:54px !important;
}

.mar-55{
	margin:55px !important;
}

.mar-56{
	margin:56px !important;
}

.mar-57{
	margin:57px !important;
}

.mar-58{
	margin:58px !important;
}

.mar-59{
	margin:59px !important;
}

.mar-60{
	margin:60px !important;
}

.mar-61{
	margin:61px !important;
}

.mar-62{
	margin:62px !important;
}

.mar-63{
	margin:63px !important;
}

.mar-64{
	margin:64px !important;
}

.mar-65{
	margin:65px !important;
}

.mar-66{
	margin:66px !important;
}

.mar-67{
	margin:67px !important;
}

.mar-68{
	margin:68px !important;
}

.mar-69{
	margin:69px !important;
}

.mar-70{
	margin:70px !important;
}

.mar-71{
	margin:71px !important;
}

.mar-72{
	margin:72px !important;
}

.mar-73{
	margin:73px !important;
}

.mar-74{
	margin:74px !important;
}

.mar-75{
	margin:75px !important;
}

.mar-76{
	margin:76px !important;
}

.mar-77{
	margin:77px !important;
}

.mar-78{
	margin:78px !important;
}

.mar-79{
	margin:79px !important;
}

.mar-80{
	margin:80px !important;
}

.mar-81{
	margin:81px !important;
}

.mar-82{
	margin:82px !important;
}

.mar-83{
	margin:83px !important;
}

.mar-84{
	margin:84px !important;
}

.mar-85{
	margin:85px !important;
}

.mar-86{
	margin:86px !important;
}

.mar-87{
	margin:87px !important;
}

.mar-88{
	margin:88px !important;
}

.mar-89{
	margin:89px !important;
}

.mar-90{
	margin:90px !important;
}

.mar-91{
	margin:91px !important;
}

.mar-92{
	margin:92px !important;
}

.mar-93{
	margin:93px !important;
}

.mar-94{
	margin:94px !important;
}

.mar-95{
	margin:95px !important;
}

.mar-96{
	margin:96px !important;
}

.mar-97{
	margin:97px !important;
}

.mar-98{
	margin:98px !important;
}

.mar-99{
	margin:99px !important;
}

.mar-100{
	margin:100px !important;
}

/*=====================================================margin-top===========================================================*/
.mart-1{
	margin-top:1px !important;
}

.mart-2{
	margin-top:2px !important;
}

.mart-3{
	margin-top:3px !important;
}

.mart-4{
	margin-top:4px !important;
}

.mart-5{
	margin-top:5px !important;
}

.mart-6{
	margin-top:6px !important;
}

.mart-7{
	margin-top:7px !important;
}

.mart-8{
	margin-top:8px !important;
}

.mart-9{
	margin-top:9px !important;
}

.mart-10{
	margin-top:10px !important;
}

.mart-11{
	margin-top:11px !important;
}

.mart-12{
	margin-top:12px !important;
}

.mart-13{
	margin-top:13px !important;
}

.mart-14{
	margin-top:14px !important;
}

.mart-15{
	margin-top:15px !important;
}

.mart-16{
	margin-top:16px !important;
}

.mart-17{
	margin-top:17px !important;
}

.mart-18{
	margin-top:18px !important;
}

.mart-19{
	margin-top:19px !important;
}

.mart-20{
	margin-top:20px !important;
}

.mart-21{
	margin-top:21px !important;
}

.mart-22{
	margin-top:22px !important;
}

.mart-23{
	margin-top:23px !important;
}

.mart-24{
	margin-top:24px !important;
}

.mart-25{
	margin-top:25px !important;
}

.mart-26{
	margin-top:26px !important;
}

.mart-27{
	margin-top:27px !important;
}

.mart-28{
	margin-top:28px !important;
}

.mart-29{
	margin-top:29px !important;
}

.mart-30{
	margin-top:30px !important;
}

.mart-31{
	margin-top:31px !important;
}

.mart-32{
	margin-top:32px !important;
}

.mart-33{
	margin-top:33px !important;
}

.mart-34{
	margin-top:34px !important;
}

.mart-35{
	margin-top:35px !important;
}

.mart-36{
	margin-top:36px !important;
}

.mart-37{
	margin-top:37px !important;
}

.mart-38{
	margin-top:38px !important;
}

.mart-39{
	margin-top:39px !important;
}

.mart-40{
	margin-top:40px !important;
}

.mart-41{
	margin-top:41px !important;
}

.mart-42{
	margin-top:42px !important;
}

.mart-43{
	margin-top:43px !important;
}

.mart-44{
	margin-top:44px !important;
}

.mart-45{
	margin-top:45px !important;
}

.mart-46{
	margin-top:46px !important;
}

.mart-47{
	margin-top:47px !important;
}

.mart-48{
	margin-top:48px !important;
}

.mart-49{
	margin-top:49px !important;
}

.mart-50{
	margin-top:50px !important;
}

.mart-51{
	margin-top:51px !important;
}

.mart-52{
	margin-top:52px !important;
}

.mart-53{
	margin-top:53px !important;
}

.mart-54{
	margin-top:54px !important;
}

.mart-55{
	margin-top:55px !important;
}

.mart-56{
	margin-top:56px !important;
}

.mart-57{
	margin-top:57px !important;
}

.mart-58{
	margin-top:58px !important;
}

.mart-59{
	margin-top:59px !important;
}

.mart-60{
	margin-top:60px !important;
}

.mart-61{
	margin-top:61px !important;
}

.mart-62{
	margin-top:62px !important;
}

.mart-63{
	margin-top:63px !important;
}

.mart-64{
	margin-top:64px !important;
}

.mart-65{
	margin-top:65px !important;
}

.mart-66{
	margin-top:66px !important;
}

.mart-67{
	margin-top:67px !important;
}

.mart-68{
	margin-top:68px !important;
}

.mart-69{
	margin-top:69px !important;
}

.mart-70{
	margin-top:70px !important;
}

.mart-71{
	margin-top:71px !important;
}

.mart-72{
	margin-top:72px !important;
}

.mart-73{
	margin-top:73px !important;
}

.mart-74{
	margin-top:74px !important;
}

.mart-75{
	margin-top:75px !important;
}

.mart-76{
	margin-top:76px !important;
}

.mart-77{
	margin-top:77px !important;
}

.mart-78{
	margin-top:78px !important;
}

.mart-79{
	margin-top:79px !important;
}

.mart-80{
	margin-top:80px !important;
}

.mart-81{
	margin-top:81px !important;
}

.mart-82{
	margin-top:82px !important;
}

.mart-83{
	margin-top:83px !important;
}

.mart-84{
	margin-top:84px !important;
}

.mart-85{
	margin-top:85px !important;
}

.mart-86{
	margin-top:86px !important;
}

.mart-87{
	margin-top:87px !important;
}

.mart-88{
	margin-top:88px !important;
}

.mart-89{
	margin-top:89px !important;
}

.mart-90{
	margin-top:90px !important;
}

.mart-91{
	margin-top:91px !important;
}

.mart-92{
	margin-top:92px !important;
}

.mart-93{
	margin-top:93px !important;
}

.mart-94{
	margin-top:94px !important;
}

.mart-95{
	margin-top:95px !important;
}

.mart-96{
	margin-top:96px !important;
}

.mart-97{
	margin-top:97px !important;
}

.mart-98{
	margin-top:98px !important;
}

.mart-99{
	margin-top:99px !important;
}

.mart-100{
	margin-top:100px !important;
}

/*=====================================================margin-right===========================================================*/
.marr-1{
	margin-right:1px !important;
}

.marr-2{
	margin-right:2px !important;
}

.marr-3{
	margin-right:3px !important;
}

.marr-4{
	margin-right:4px !important;
}

.marr-5{
	margin-right:5px !important;
}

.marr-6{
	margin-right:6px !important;
}

.marr-7{
	margin-right:7px !important;
}

.marr-8{
	margin-right:8px !important;
}

.marr-9{
	margin-right:9px !important;
}

.marr-10{
	margin-right:10px !important;
}

.marr-11{
	margin-right:11px !important;
}

.marr-12{
	margin-right:12px !important;
}

.marr-13{
	margin-right:13px !important;
}

.marr-14{
	margin-right:14px !important;
}

.marr-15{
	margin-right:15px !important;
}

.marr-16{
	margin-right:16px !important;
}

.marr-17{
	margin-right:17px !important;
}

.marr-18{
	margin-right:18px !important;
}

.marr-19{
	margin-right:19px !important;
}

.marr-20{
	margin-right:20px !important;
}

.marr-21{
	margin-right:21px !important;
}

.marr-22{
	margin-right:22px !important;
}

.marr-23{
	margin-right:23px !important;
}

.marr-24{
	margin-right:24px !important;
}

.marr-25{
	margin-right:25px !important;
}

.marr-26{
	margin-right:26px !important;
}

.marr-27{
	margin-right:27px !important;
}

.marr-28{
	margin-right:28px !important;
}

.marr-29{
	margin-right:29px !important;
}

.marr-30{
	margin-right:30px !important;
}

.marr-31{
	margin-right:31px !important;
}

.marr-32{
	margin-right:32px !important;
}

.marr-33{
	margin-right:33px !important;
}

.marr-34{
	margin-right:34px !important;
}

.marr-35{
	margin-right:35px !important;
}

.marr-36{
	margin-right:36px !important;
}

.marr-37{
	margin-right:37px !important;
}

.marr-38{
	margin-right:38px !important;
}

.marr-39{
	margin-right:39px !important;
}

.marr-40{
	margin-right:40px !important;
}

.marr-41{
	margin-right:41px !important;
}

.marr-42{
	margin-right:42px !important;
}

.marr-43{
	margin-right:43px !important;
}

.marr-44{
	margin-right:44px !important;
}

.marr-45{
	margin-right:45px !important;
}

.marr-46{
	margin-right:46px !important;
}

.marr-47{
	margin-right:47px !important;
}

.marr-48{
	margin-right:48px !important;
}

.marr-49{
	margin-right:49px !important;
}

.marr-50{
	margin-right:50px !important;
}

.marr-51{
	margin-right:51px !important;
}

.marr-52{
	margin-right:52px !important;
}

.marr-53{
	margin-right:53px !important;
}

.marr-54{
	margin-right:54px !important;
}

.marr-55{
	margin-right:55px !important;
}

.marr-56{
	margin-right:56px !important;
}

.marr-57{
	margin-right:57px !important;
}

.marr-58{
	margin-right:58px !important;
}

.marr-59{
	margin-right:59px !important;
}

.marr-60{
	margin-right:60px !important;
}

.marr-61{
	margin-right:61px !important;
}

.marr-62{
	margin-right:62px !important;
}

.marr-63{
	margin-right:63px !important;
}

.marr-64{
	margin-right:64px !important;
}

.marr-65{
	margin-right:65px !important;
}

.marr-66{
	margin-right:66px !important;
}

.marr-67{
	margin-right:67px !important;
}

.marr-68{
	margin-right:68px !important;
}

.marr-69{
	margin-right:69px !important;
}

.marr-70{
	margin-right:70px !important;
}

.marr-71{
	margin-right:71px !important;
}

.marr-72{
	margin-right:72px !important;
}

.marr-73{
	margin-right:73px !important;
}

.marr-74{
	margin-right:74px !important;
}

.marr-75{
	margin-right:75px !important;
}

.marr-76{
	margin-right:76px !important;
}

.marr-77{
	margin-right:77px !important;
}

.marr-78{
	margin-right:78px !important;
}

.marr-79{
	margin-right:79px !important;
}

.marr-80{
	margin-right:80px !important;
}

.marr-81{
	margin-right:81px !important;
}

.marr-82{
	margin-right:82px !important;
}

.marr-83{
	margin-right:83px !important;
}

.marr-84{
	margin-right:84px !important;
}

.marr-85{
	margin-right:85px !important;
}

.marr-86{
	margin-right:86px !important;
}

.marr-87{
	margin-right:87px !important;
}

.marr-88{
	margin-right:88px !important;
}

.marr-89{
	margin-right:89px !important;
}

.marr-90{
	margin-right:90px !important;
}

.marr-91{
	margin-right:91px !important;
}

.marr-92{
	margin-right:92px !important;
}

.marr-93{
	margin-right:93px !important;
}

.marr-94{
	margin-right:94px !important;
}

.marr-95{
	margin-right:95px !important;
}

.marr-96{
	margin-right:96px !important;
}

.marr-97{
	margin-right:97px !important;
}

.marr-98{
	margin-right:98px !important;
}

.marr-99{
	margin-right:99px !important;
}

.marr-100{
	margin-right:100px !important;
}

/*=====================================================margin-bottom===========================================================*/
.marb-1{
	margin-bottom:1px !important;
}

.marb-2{
	margin-bottom:2px !important;
}

.marb-3{
	margin-bottom:3px !important;
}

.marb-4{
	margin-bottom:4px !important;
}

.marb-5{
	margin-bottom:5px !important;
}

.marb-6{
	margin-bottom:6px !important;
}

.marb-7{
	margin-bottom:7px !important;
}

.marb-8{
	margin-bottom:8px !important;
}

.marb-9{
	margin-bottom:9px !important;
}

.marb-10{
	margin-bottom:10px !important;
}

.marb-11{
	margin-bottom:11px !important;
}

.marb-12{
	margin-bottom:12px !important;
}

.marb-13{
	margin-bottom:13px !important;
}

.marb-14{
	margin-bottom:14px !important;
}

.marb-15{
	margin-bottom:15px !important;
}

.marb-16{
	margin-bottom:16px !important;
}

.marb-17{
	margin-bottom:17px !important;
}

.marb-18{
	margin-bottom:18px !important;
}

.marb-19{
	margin-bottom:19px !important;
}

.marb-20{
	margin-bottom:20px !important;
}

.marb-21{
	margin-bottom:21px !important;
}

.marb-22{
	margin-bottom:22px !important;
}

.marb-23{
	margin-bottom:23px !important;
}

.marb-24{
	margin-bottom:24px !important;
}

.marb-25{
	margin-bottom:25px !important;
}

.marb-26{
	margin-bottom:26px !important;
}

.marb-27{
	margin-bottom:27px !important;
}

.marb-28{
	margin-bottom:28px !important;
}

.marb-29{
	margin-bottom:29px !important;
}

.marb-30{
	margin-bottom:30px !important;
}

.marb-31{
	margin-bottom:31px !important;
}

.marb-32{
	margin-bottom:32px !important;
}

.marb-33{
	margin-bottom:33px !important;
}

.marb-34{
	margin-bottom:34px !important;
}

.marb-35{
	margin-bottom:35px !important;
}

.marb-36{
	margin-bottom:36px !important;
}

.marb-37{
	margin-bottom:37px !important;
}

.marb-38{
	margin-bottom:38px !important;
}

.marb-39{
	margin-bottom:39px !important;
}

.marb-40{
	margin-bottom:40px !important;
}

.marb-41{
	margin-bottom:41px !important;
}

.marb-42{
	margin-bottom:42px !important;
}

.marb-43{
	margin-bottom:43px !important;
}

.marb-44{
	margin-bottom:44px !important;
}

.marb-45{
	margin-bottom:45px !important;
}

.marb-46{
	margin-bottom:46px !important;
}

.marb-47{
	margin-bottom:47px !important;
}

.marb-48{
	margin-bottom:48px !important;
}

.marb-49{
	margin-bottom:49px !important;
}

.marb-50{
	margin-bottom:50px !important;
}

.marb-51{
	margin-bottom:51px !important;
}

.marb-52{
	margin-bottom:52px !important;
}

.marb-53{
	margin-bottom:53px !important;
}

.marb-54{
	margin-bottom:54px !important;
}

.marb-55{
	margin-bottom:55px !important;
}

.marb-56{
	margin-bottom:56px !important;
}

.marb-57{
	margin-bottom:57px !important;
}

.marb-58{
	margin-bottom:58px !important;
}

.marb-59{
	margin-bottom:59px !important;
}

.marb-60{
	margin-bottom:60px !important;
}

.marb-61{
	margin-bottom:61px !important;
}

.marb-62{
	margin-bottom:62px !important;
}

.marb-63{
	margin-bottom:63px !important;
}

.marb-64{
	margin-bottom:64px !important;
}

.marb-65{
	margin-bottom:65px !important;
}

.marb-66{
	margin-bottom:66px !important;
}

.marb-67{
	margin-bottom:67px !important;
}

.marb-68{
	margin-bottom:68px !important;
}

.marb-69{
	margin-bottom:69px !important;
}

.marb-70{
	margin-bottom:70px !important;
}

.marb-71{
	margin-bottom:71px !important;
}

.marb-72{
	margin-bottom:72px !important;
}

.marb-73{
	margin-bottom:73px !important;
}

.marb-74{
	margin-bottom:74px !important;
}

.marb-75{
	margin-bottom:75px !important;
}

.marb-76{
	margin-bottom:76px !important;
}

.marb-77{
	margin-bottom:77px !important;
}

.marb-78{
	margin-bottom:78px !important;
}

.marb-79{
	margin-bottom:79px !important;
}

.marb-80{
	margin-bottom:80px !important;
}

.marb-81{
	margin-bottom:81px !important;
}

.marb-82{
	margin-bottom:82px !important;
}

.marb-83{
	margin-bottom:83px !important;
}

.marb-84{
	margin-bottom:84px !important;
}

.marb-85{
	margin-bottom:85px !important;
}

.marb-86{
	margin-bottom:86px !important;
}

.marb-87{
	margin-bottom:87px !important;
}

.marb-88{
	margin-bottom:88px !important;
}

.marb-89{
	margin-bottom:89px !important;
}

.marb-90{
	margin-bottom:90px !important;
}

.marb-91{
	margin-bottom:91px !important;
}

.marb-92{
	margin-bottom:92px !important;
}

.marb-93{
	margin-bottom:93px !important;
}

.marb-94{
	margin-bottom:94px !important;
}

.marb-95{
	margin-bottom:95px !important;
}

.marb-96{
	margin-bottom:96px !important;
}

.marb-97{
	margin-bottom:97px !important;
}

.marb-98{
	margin-bottom:98px !important;
}

.marb-99{
	margin-bottom:99px !important;
}

.marb-100{
	margin-bottom:100px !important;
}

/*=====================================================margin-left===========================================================*/
.marl-1{
	margin-left:1px !important;
}

.marl-2{
	margin-left:2px !important;
}

.marl-3{
	margin-left:3px !important;
}

.marl-4{
	margin-left:4px !important;
}

.marl-5{
	margin-left:5px !important;
}

.marl-6{
	margin-left:6px !important;
}

.marl-7{
	margin-left:7px !important;
}

.marl-8{
	margin-left:8px !important;
}

.marl-9{
	margin-left:9px !important;
}

.marl-10{
	margin-left:10px !important;
}

.marl-11{
	margin-left:11px !important;
}

.marl-12{
	margin-left:12px !important;
}

.marl-13{
	margin-left:13px !important;
}

.marl-14{
	margin-left:14px !important;
}

.marl-15{
	margin-left:15px !important;
}

.marl-16{
	margin-left:16px !important;
}

.marl-17{
	margin-left:17px !important;
}

.marl-18{
	margin-left:18px !important;
}

.marl-19{
	margin-left:19px !important;
}

.marl-20{
	margin-left:20px !important;
}

.marl-21{
	margin-left:21px !important;
}

.marl-22{
	margin-left:22px !important;
}

.marl-23{
	margin-left:23px !important;
}

.marl-24{
	margin-left:24px !important;
}

.marl-25{
	margin-left:25px !important;
}

.marl-26{
	margin-left:26px !important;
}

.marl-27{
	margin-left:27px !important;
}

.marl-28{
	margin-left:28px !important;
}

.marl-29{
	margin-left:29px !important;
}

.marl-30{
	margin-left:30px !important;
}

.marl-31{
	margin-left:31px !important;
}

.marl-32{
	margin-left:32px !important;
}

.marl-33{
	margin-left:33px !important;
}

.marl-34{
	margin-left:34px !important;
}

.marl-35{
	margin-left:35px !important;
}

.marl-36{
	margin-left:36px !important;
}

.marl-37{
	margin-left:37px !important;
}

.marl-38{
	margin-left:38px !important;
}

.marl-39{
	margin-left:39px !important;
}

.marl-40{
	margin-left:40px !important;
}

.marl-41{
	margin-left:41px !important;
}

.marl-42{
	margin-left:42px !important;
}

.marl-43{
	margin-left:43px !important;
}

.marl-44{
	margin-left:44px !important;
}

.marl-45{
	margin-left:45px !important;
}

.marl-46{
	margin-left:46px !important;
}

.marl-47{
	margin-left:47px !important;
}

.marl-48{
	margin-left:48px !important;
}

.marl-49{
	margin-left:49px !important;
}

.marl-50{
	margin-left:50px !important;
}

.marl-51{
	margin-left:51px !important;
}

.marl-52{
	margin-left:52px !important;
}

.marl-53{
	margin-left:53px !important;
}

.marl-54{
	margin-left:54px !important;
}

.marl-55{
	margin-left:55px !important;
}

.marl-56{
	margin-left:56px !important;
}

.marl-57{
	margin-left:57px !important;
}

.marl-58{
	margin-left:58px !important;
}

.marl-59{
	margin-left:59px !important;
}

.marl-60{
	margin-left:60px !important;
}

.marl-61{
	margin-left:61px !important;
}

.marl-62{
	margin-left:62px !important;
}

.marl-63{
	margin-left:63px !important;
}

.marl-64{
	margin-left:64px !important;
}

.marl-65{
	margin-left:65px !important;
}

.marl-66{
	margin-left:66px !important;
}

.marl-67{
	margin-left:67px !important;
}

.marl-68{
	margin-left:68px !important;
}

.marl-69{
	margin-left:69px !important;
}

.marl-70{
	margin-left:70px !important;
}

.marl-71{
	margin-left:71px !important;
}

.marl-72{
	margin-left:72px !important;
}

.marl-73{
	margin-left:73px !important;
}

.marl-74{
	margin-left:74px !important;
}

.marl-75{
	margin-left:75px !important;
}

.marl-76{
	margin-left:76px !important;
}

.marl-77{
	margin-left:77px !important;
}

.marl-78{
	margin-left:78px !important;
}

.marl-79{
	margin-left:79px !important;
}

.marl-80{
	margin-left:80px !important;
}

.marl-81{
	margin-left:81px !important;
}

.marl-82{
	margin-left:82px !important;
}

.marl-83{
	margin-left:83px !important;
}

.marl-84{
	margin-left:84px !important;
}

.marl-85{
	margin-left:85px !important;
}

.marl-86{
	margin-left:86px !important;
}

.marl-87{
	margin-left:87px !important;
}

.marl-88{
	margin-left:88px !important;
}

.marl-89{
	margin-left:89px !important;
}

.marl-90{
	margin-left:90px !important;
}

.marl-91{
	margin-left:91px !important;
}

.marl-92{
	margin-left:92px !important;
}

.marl-93{
	margin-left:93px !important;
}

.marl-94{
	margin-left:94px !important;
}

.marl-95{
	margin-left:95px !important;
}

.marl-96{
	margin-left:96px !important;
}

.marl-97{
	margin-left:97px !important;
}

.marl-98{
	margin-left:98px !important;
}

.marl-99{
	margin-left:99px !important;
}

.marl-100{
	margin-left:100px !important;
}