/*=====================================================padding==========================================================*/
.pad-0{
  padding:0px !important;
}

.pad-1{
	padding:1px !important;
}

.pad-2{
	padding:2px !important;
}

.pad-3{
	padding:3px !important;
}

.pad-4{
	padding:4px !important;
}

.pad-5{
	padding:5px !important;
}

.pad-6{
	padding:6px !important;
}

.pad-7{
	padding:7px !important;
}

.pad-8{
	padding:8px !important;
}

.pad-9{
	padding:9px !important;
}

.pad-10{
	padding:10px !important;
}

.pad-11{
	padding:11px !important;
}

.pad-12{
	padding:12px !important;
}

.pad-13{
	padding:13px !important;
}

.pad-14{
	padding:14px !important;
}

.pad-15{
	padding:15px !important;
}

.pad-16{
	padding:16px !important;
}

.pad-17{
	padding:17px !important;
}

.pad-18{
	padding:18px !important;
}

.pad-19{
	padding:19px !important;
}

.pad-20{
	padding:20px !important;
}

.pad-21{
	padding:21px !important;
}

.pad-22{
	padding:22px !important;
}

.pad-23{
	padding:23px !important;
}

.pad-24{
	padding:24px !important;
}

.pad-25{
	padding:25px !important;
}

.pad-26{
	padding:26px !important;
}

.pad-27{
	padding:27px !important;
}

.pad-28{
	padding:28px !important;
}

.pad-29{
	padding:29px !important;
}

.pad-30{
	padding:30px !important;
}

.pad-31{
	padding:31px !important;
}

.pad-32{
	padding:32px !important;
}

.pad-33{
	padding:33px !important;
}

.pad-34{
	padding:34px !important;
}

.pad-35{
	padding:35px !important;
}

.pad-36{
	padding:36px !important;
}

.pad-37{
	padding:37px !important;
}

.pad-38{
	padding:38px !important;
}

.pad-39{
	padding:39px !important;
}

.pad-40{
	padding:40px !important;
}

.pad-41{
	padding:41px !important;
}

.pad-42{
	padding:42px !important;
}

.pad-43{
	padding:43px !important;
}

.pad-44{
	padding:44px !important;
}

.pad-45{
	padding:45px !important;
}

.pad-46{
	padding:46px !important;
}

.pad-47{
	padding:47px !important;
}

.pad-48{
	padding:48px !important;
}

.pad-49{
	padding:49px !important;
}

.pad-50{
	padding:50px !important;
}

.pad-51{
	padding:51px !important;
}

.pad-52{
	padding:52px !important;
}

.pad-53{
	padding:53px !important;
}

.pad-54{
	padding:54px !important;
}

.pad-55{
	padding:55px !important;
}

.pad-56{
	padding:56px !important;
}

.pad-57{
	padding:57px !important;
}

.pad-58{
	padding:58px !important;
}

.pad-59{
	padding:59px !important;
}

.pad-60{
	padding:60px !important;
}

.pad-61{
	padding:61px !important;
}

.pad-62{
	padding:62px !important;
}

.pad-63{
	padding:63px !important;
}

.pad-64{
	padding:64px !important;
}

.pad-65{
	padding:65px !important;
}

.pad-66{
	padding:66px !important;
}

.pad-67{
	padding:67px !important;
}

.pad-68{
	padding:68px !important;
}

.pad-69{
	padding:69px !important;
}

.pad-70{
	padding:70px !important;
}

.pad-71{
	padding:71px !important;
}

.pad-72{
	padding:72px !important;
}

.pad-73{
	padding:73px !important;
}

.pad-74{
	padding:74px !important;
}

.pad-75{
	padding:75px !important;
}

.pad-76{
	padding:76px !important;
}

.pad-77{
	padding:77px !important;
}

.pad-78{
	padding:78px !important;
}

.pad-79{
	padding:79px !important;
}

.pad-80{
	padding:80px !important;
}

.pad-81{
	padding:81px !important;
}

.pad-82{
	padding:82px !important;
}

.pad-83{
	padding:83px !important;
}

.pad-84{
	padding:84px !important;
}

.pad-85{
	padding:85px !important;
}

.pad-86{
	padding:86px !important;
}

.pad-87{
	padding:87px !important;
}

.pad-88{
	padding:88px !important;
}

.pad-89{
	padding:89px !important;
}

.pad-90{
	padding:90px !important;
}

.pad-91{
	padding:91px !important;
}

.pad-92{
	padding:92px !important;
}

.pad-93{
	padding:93px !important;
}

.pad-94{
	padding:94px !important;
}

.pad-95{
	padding:95px !important;
}

.pad-96{
	padding:96px !important;
}

.pad-97{
	padding:97px !important;
}

.pad-98{
	padding:98px !important;
}

.pad-99{
	padding:99px !important;
}

.pad-100{
	padding:100px !important;
}

/*=====================================================padding-top===========================================================*/
.padt-1{
	padding-top:1px !important;
}

.padt-2{
	padding-top:2px !important;
}

.padt-3{
	padding-top:3px !important;
}

.padt-4{
	padding-top:4px !important;
}

.padt-5{
	padding-top:5px !important;
}

.padt-6{
	padding-top:6px !important;
}

.padt-7{
	padding-top:7px !important;
}

.padt-8{
	padding-top:8px !important;
}

.padt-9{
	padding-top:9px !important;
}

.padt-10{
	padding-top:10px !important;
}

.padt-11{
	padding-top:11px !important;
}

.padt-12{
	padding-top:12px !important;
}

.padt-13{
	padding-top:13px !important;
}

.padt-14{
	padding-top:14px !important;
}

.padt-15{
	padding-top:15px !important;
}

.padt-16{
	padding-top:16px !important;
}

.padt-17{
	padding-top:17px !important;
}

.padt-18{
	padding-top:18px !important;
}

.padt-19{
	padding-top:19px !important;
}

.padt-20{
	padding-top:20px !important;
}

.padt-21{
	padding-top:21px !important;
}

.padt-22{
	padding-top:22px !important;
}

.padt-23{
	padding-top:23px !important;
}

.padt-24{
	padding-top:24px !important;
}

.padt-25{
	padding-top:25px !important;
}

.padt-26{
	padding-top:26px !important;
}

.padt-27{
	padding-top:27px !important;
}

.padt-28{
	padding-top:28px !important;
}

.padt-29{
	padding-top:29px !important;
}

.padt-30{
	padding-top:30px !important;
}

.padt-31{
	padding-top:31px !important;
}

.padt-32{
	padding-top:32px !important;
}

.padt-33{
	padding-top:33px !important;
}

.padt-34{
	padding-top:34px !important;
}

.padt-35{
	padding-top:35px !important;
}

.padt-36{
	padding-top:36px !important;
}

.padt-37{
	padding-top:37px !important;
}

.padt-38{
	padding-top:38px !important;
}

.padt-39{
	padding-top:39px !important;
}

.padt-40{
	padding-top:40px !important;
}

.padt-41{
	padding-top:41px !important;
}

.padt-42{
	padding-top:42px !important;
}

.padt-43{
	padding-top:43px !important;
}

.padt-44{
	padding-top:44px !important;
}

.padt-45{
	padding-top:45px !important;
}

.padt-46{
	padding-top:46px !important;
}

.padt-47{
	padding-top:47px !important;
}

.padt-48{
	padding-top:48px !important;
}

.padt-49{
	padding-top:49px !important;
}

.padt-50{
	padding-top:50px !important;
}

.padt-51{
	padding-top:51px !important;
}

.padt-52{
	padding-top:52px !important;
}

.padt-53{
	padding-top:53px !important;
}

.padt-54{
	padding-top:54px !important;
}

.padt-55{
	padding-top:55px !important;
}

.padt-56{
	padding-top:56px !important;
}

.padt-57{
	padding-top:57px !important;
}

.padt-58{
	padding-top:58px !important;
}

.padt-59{
	padding-top:59px !important;
}

.padt-60{
	padding-top:60px !important;
}

.padt-61{
	padding-top:61px !important;
}

.padt-62{
	padding-top:62px !important;
}

.padt-63{
	padding-top:63px !important;
}

.padt-64{
	padding-top:64px !important;
}

.padt-65{
	padding-top:65px !important;
}

.padt-66{
	padding-top:66px !important;
}

.padt-67{
	padding-top:67px !important;
}

.padt-68{
	padding-top:68px !important;
}

.padt-69{
	padding-top:69px !important;
}

.padt-70{
	padding-top:70px !important;
}

.padt-71{
	padding-top:71px !important;
}

.padt-72{
	padding-top:72px !important;
}

.padt-73{
	padding-top:73px !important;
}

.padt-74{
	padding-top:74px !important;
}

.padt-75{
	padding-top:75px !important;
}

.padt-76{
	padding-top:76px !important;
}

.padt-77{
	padding-top:77px !important;
}

.padt-78{
	padding-top:78px !important;
}

.padt-79{
	padding-top:79px !important;
}

.padt-80{
	padding-top:80px !important;
}

.padt-81{
	padding-top:81px !important;
}

.padt-82{
	padding-top:82px !important;
}

.padt-83{
	padding-top:83px !important;
}

.padt-84{
	padding-top:84px !important;
}

.padt-85{
	padding-top:85px !important;
}

.padt-86{
	padding-top:86px !important;
}

.padt-87{
	padding-top:87px !important;
}

.padt-88{
	padding-top:88px !important;
}

.padt-89{
	padding-top:89px !important;
}

.padt-90{
	padding-top:90px !important;
}

.padt-91{
	padding-top:91px !important;
}

.padt-92{
	padding-top:92px !important;
}

.padt-93{
	padding-top:93px !important;
}

.padt-94{
	padding-top:94px !important;
}

.padt-95{
	padding-top:95px !important;
}

.padt-96{
	padding-top:96px !important;
}

.padt-97{
	padding-top:97px !important;
}

.padt-98{
	padding-top:98px !important;
}

.padt-99{
	padding-top:99px !important;
}

.padt-100{
	padding-top:100px !important;
}

/*=====================================================padding-right===========================================================*/
.padr-1{
	padding-right:1px !important;
}

.padr-2{
	padding-right:2px !important;
}

.padr-3{
	padding-right:3px !important;
}

.padr-4{
	padding-right:4px !important;
}

.padr-5{
	padding-right:5px !important;
}

.padr-6{
	padding-right:6px !important;
}

.padr-7{
	padding-right:7px !important;
}

.padr-8{
	padding-right:8px !important;
}

.padr-9{
	padding-right:9px !important;
}

.padr-10{
	padding-right:10px !important;
}

.padr-11{
	padding-right:11px !important;
}

.padr-12{
	padding-right:12px !important;
}

.padr-13{
	padding-right:13px !important;
}

.padr-14{
	padding-right:14px !important;
}

.padr-15{
	padding-right:15px !important;
}

.padr-16{
	padding-right:16px !important;
}

.padr-17{
	padding-right:17px !important;
}

.padr-18{
	padding-right:18px !important;
}

.padr-19{
	padding-right:19px !important;
}

.padr-20{
	padding-right:20px !important;
}

.padr-21{
	padding-right:21px !important;
}

.padr-22{
	padding-right:22px !important;
}

.padr-23{
	padding-right:23px !important;
}

.padr-24{
	padding-right:24px !important;
}

.padr-25{
	padding-right:25px !important;
}

.padr-26{
	padding-right:26px !important;
}

.padr-27{
	padding-right:27px !important;
}

.padr-28{
	padding-right:28px !important;
}

.padr-29{
	padding-right:29px !important;
}

.padr-30{
	padding-right:30px !important;
}

.padr-31{
	padding-right:31px !important;
}

.padr-32{
	padding-right:32px !important;
}

.padr-33{
	padding-right:33px !important;
}

.padr-34{
	padding-right:34px !important;
}

.padr-35{
	padding-right:35px !important;
}

.padr-36{
	padding-right:36px !important;
}

.padr-37{
	padding-right:37px !important;
}

.padr-38{
	padding-right:38px !important;
}

.padr-39{
	padding-right:39px !important;
}

.padr-40{
	padding-right:40px !important;
}

.padr-41{
	padding-right:41px !important;
}

.padr-42{
	padding-right:42px !important;
}

.padr-43{
	padding-right:43px !important;
}

.padr-44{
	padding-right:44px !important;
}

.padr-45{
	padding-right:45px !important;
}

.padr-46{
	padding-right:46px !important;
}

.padr-47{
	padding-right:47px !important;
}

.padr-48{
	padding-right:48px !important;
}

.padr-49{
	padding-right:49px !important;
}

.padr-50{
	padding-right:50px !important;
}

.padr-51{
	padding-right:51px !important;
}

.padr-52{
	padding-right:52px !important;
}

.padr-53{
	padding-right:53px !important;
}

.padr-54{
	padding-right:54px !important;
}

.padr-55{
	padding-right:55px !important;
}

.padr-56{
	padding-right:56px !important;
}

.padr-57{
	padding-right:57px !important;
}

.padr-58{
	padding-right:58px !important;
}

.padr-59{
	padding-right:59px !important;
}

.padr-60{
	padding-right:60px !important;
}

.padr-61{
	padding-right:61px !important;
}

.padr-62{
	padding-right:62px !important;
}

.padr-63{
	padding-right:63px !important;
}

.padr-64{
	padding-right:64px !important;
}

.padr-65{
	padding-right:65px !important;
}

.padr-66{
	padding-right:66px !important;
}

.padr-67{
	padding-right:67px !important;
}

.padr-68{
	padding-right:68px !important;
}

.padr-69{
	padding-right:69px !important;
}

.padr-70{
	padding-right:70px !important;
}

.padr-71{
	padding-right:71px !important;
}

.padr-72{
	padding-right:72px !important;
}

.padr-73{
	padding-right:73px !important;
}

.padr-74{
	padding-right:74px !important;
}

.padr-75{
	padding-right:75px !important;
}

.padr-76{
	padding-right:76px !important;
}

.padr-77{
	padding-right:77px !important;
}

.padr-78{
	padding-right:78px !important;
}

.padr-79{
	padding-right:79px !important;
}

.padr-80{
	padding-right:80px !important;
}

.padr-81{
	padding-right:81px !important;
}

.padr-82{
	padding-right:82px !important;
}

.padr-83{
	padding-right:83px !important;
}

.padr-84{
	padding-right:84px !important;
}

.padr-85{
	padding-right:85px !important;
}

.padr-86{
	padding-right:86px !important;
}

.padr-87{
	padding-right:87px !important;
}

.padr-88{
	padding-right:88px !important;
}

.padr-89{
	padding-right:89px !important;
}

.padr-90{
	padding-right:90px !important;
}

.padr-91{
	padding-right:91px !important;
}

.padr-92{
	padding-right:92px !important;
}

.padr-93{
	padding-right:93px !important;
}

.padr-94{
	padding-right:94px !important;
}

.padr-95{
	padding-right:95px !important;
}

.padr-96{
	padding-right:96px !important;
}

.padr-97{
	padding-right:97px !important;
}

.padr-98{
	padding-right:98px !important;
}

.padr-99{
	padding-right:99px !important;
}

.padr-100{
	padding-right:100px !important;
}

/*=====================================================padding-bottom===========================================================*/
.padb-1{
	padding-bottom:1px !important;
}

.padb-2{
	padding-bottom:2px !important;
}

.padb-3{
	padding-bottom:3px !important;
}

.padb-4{
	padding-bottom:4px !important;
}

.padb-5{
	padding-bottom:5px !important;
}

.padb-6{
	padding-bottom:6px !important;
}

.padb-7{
	padding-bottom:7px !important;
}

.padb-8{
	padding-bottom:8px !important;
}

.padb-9{
	padding-bottom:9px !important;
}

.padb-10{
	padding-bottom:10px !important;
}

.padb-11{
	padding-bottom:11px !important;
}

.padb-12{
	padding-bottom:12px !important;
}

.padb-13{
	padding-bottom:13px !important;
}

.padb-14{
	padding-bottom:14px !important;
}

.padb-15{
	padding-bottom:15px !important;
}

.padb-16{
	padding-bottom:16px !important;
}

.padb-17{
	padding-bottom:17px !important;
}

.padb-18{
	padding-bottom:18px !important;
}

.padb-19{
	padding-bottom:19px !important;
}

.padb-20{
	padding-bottom:20px !important;
}

.padb-21{
	padding-bottom:21px !important;
}

.padb-22{
	padding-bottom:22px !important;
}

.padb-23{
	padding-bottom:23px !important;
}

.padb-24{
	padding-bottom:24px !important;
}

.padb-25{
	padding-bottom:25px !important;
}

.padb-26{
	padding-bottom:26px !important;
}

.padb-27{
	padding-bottom:27px !important;
}

.padb-28{
	padding-bottom:28px !important;
}

.padb-29{
	padding-bottom:29px !important;
}

.padb-30{
	padding-bottom:30px !important;
}

.padb-31{
	padding-bottom:31px !important;
}

.padb-32{
	padding-bottom:32px !important;
}

.padb-33{
	padding-bottom:33px !important;
}

.padb-34{
	padding-bottom:34px !important;
}

.padb-35{
	padding-bottom:35px !important;
}

.padb-36{
	padding-bottom:36px !important;
}

.padb-37{
	padding-bottom:37px !important;
}

.padb-38{
	padding-bottom:38px !important;
}

.padb-39{
	padding-bottom:39px !important;
}

.padb-40{
	padding-bottom:40px !important;
}

.padb-41{
	padding-bottom:41px !important;
}

.padb-42{
	padding-bottom:42px !important;
}

.padb-43{
	padding-bottom:43px !important;
}

.padb-44{
	padding-bottom:44px !important;
}

.padb-45{
	padding-bottom:45px !important;
}

.padb-46{
	padding-bottom:46px !important;
}

.padb-47{
	padding-bottom:47px !important;
}

.padb-48{
	padding-bottom:48px !important;
}

.padb-49{
	padding-bottom:49px !important;
}

.padb-50{
	padding-bottom:50px !important;
}

.padb-51{
	padding-bottom:51px !important;
}

.padb-52{
	padding-bottom:52px !important;
}

.padb-53{
	padding-bottom:53px !important;
}

.padb-54{
	padding-bottom:54px !important;
}

.padb-55{
	padding-bottom:55px !important;
}

.padb-56{
	padding-bottom:56px !important;
}

.padb-57{
	padding-bottom:57px !important;
}

.padb-58{
	padding-bottom:58px !important;
}

.padb-59{
	padding-bottom:59px !important;
}

.padb-60{
	padding-bottom:60px !important;
}

.padb-61{
	padding-bottom:61px !important;
}

.padb-62{
	padding-bottom:62px !important;
}

.padb-63{
	padding-bottom:63px !important;
}

.padb-64{
	padding-bottom:64px !important;
}

.padb-65{
	padding-bottom:65px !important;
}

.padb-66{
	padding-bottom:66px !important;
}

.padb-67{
	padding-bottom:67px !important;
}

.padb-68{
	padding-bottom:68px !important;
}

.padb-69{
	padding-bottom:69px !important;
}

.padb-70{
	padding-bottom:70px !important;
}

.padb-71{
	padding-bottom:71px !important;
}

.padb-72{
	padding-bottom:72px !important;
}

.padb-73{
	padding-bottom:73px !important;
}

.padb-74{
	padding-bottom:74px !important;
}

.padb-75{
	padding-bottom:75px !important;
}

.padb-76{
	padding-bottom:76px !important;
}

.padb-77{
	padding-bottom:77px !important;
}

.padb-78{
	padding-bottom:78px !important;
}

.padb-79{
	padding-bottom:79px !important;
}

.padb-80{
	padding-bottom:80px !important;
}

.padb-81{
	padding-bottom:81px !important;
}

.padb-82{
	padding-bottom:82px !important;
}

.padb-83{
	padding-bottom:83px !important;
}

.padb-84{
	padding-bottom:84px !important;
}

.padb-85{
	padding-bottom:85px !important;
}

.padb-86{
	padding-bottom:86px !important;
}

.padb-87{
	padding-bottom:87px !important;
}

.padb-88{
	padding-bottom:88px !important;
}

.padb-89{
	padding-bottom:89px !important;
}

.padb-90{
	padding-bottom:90px !important;
}

.padb-91{
	padding-bottom:91px !important;
}

.padb-92{
	padding-bottom:92px !important;
}

.padb-93{
	padding-bottom:93px !important;
}

.padb-94{
	padding-bottom:94px !important;
}

.padb-95{
	padding-bottom:95px !important;
}

.padb-96{
	padding-bottom:96px !important;
}

.padb-97{
	padding-bottom:97px !important;
}

.padb-98{
	padding-bottom:98px !important;
}

.padb-99{
	padding-bottom:99px !important;
}

.padb-100{
	padding-bottom:100px !important;
}

/*=====================================================padding-left===========================================================*/
.padl-1{
	padding-left:1px !important;
}

.padl-2{
	padding-left:2px !important;
}

.padl-3{
	padding-left:3px !important;
}

.padl-4{
	padding-left:4px !important;
}

.padl-5{
	padding-left:5px !important;
}

.padl-6{
	padding-left:6px !important;
}

.padl-7{
	padding-left:7px !important;
}

.padl-8{
	padding-left:8px !important;
}

.padl-9{
	padding-left:9px !important;
}

.padl-10{
	padding-left:10px !important;
}

.padl-11{
	padding-left:11px !important;
}

.padl-12{
	padding-left:12px !important;
}

.padl-13{
	padding-left:13px !important;
}

.padl-14{
	padding-left:14px !important;
}

.padl-15{
	padding-left:15px !important;
}

.padl-16{
	padding-left:16px !important;
}

.padl-17{
	padding-left:17px !important;
}

.padl-18{
	padding-left:18px !important;
}

.padl-19{
	padding-left:19px !important;
}

.padl-20{
	padding-left:20px !important;
}

.padl-21{
	padding-left:21px !important;
}

.padl-22{
	padding-left:22px !important;
}

.padl-23{
	padding-left:23px !important;
}

.padl-24{
	padding-left:24px !important;
}

.padl-25{
	padding-left:25px !important;
}

.padl-26{
	padding-left:26px !important;
}

.padl-27{
	padding-left:27px !important;
}

.padl-28{
	padding-left:28px !important;
}

.padl-29{
	padding-left:29px !important;
}

.padl-30{
	padding-left:30px !important;
}

.padl-31{
	padding-left:31px !important;
}

.padl-32{
	padding-left:32px !important;
}

.padl-33{
	padding-left:33px !important;
}

.padl-34{
	padding-left:34px !important;
}

.padl-35{
	padding-left:35px !important;
}

.padl-36{
	padding-left:36px !important;
}

.padl-37{
	padding-left:37px !important;
}

.padl-38{
	padding-left:38px !important;
}

.padl-39{
	padding-left:39px !important;
}

.padl-40{
	padding-left:40px !important;
}

.padl-41{
	padding-left:41px !important;
}

.padl-42{
	padding-left:42px !important;
}

.padl-43{
	padding-left:43px !important;
}

.padl-44{
	padding-left:44px !important;
}

.padl-45{
	padding-left:45px !important;
}

.padl-46{
	padding-left:46px !important;
}

.padl-47{
	padding-left:47px !important;
}

.padl-48{
	padding-left:48px !important;
}

.padl-49{
	padding-left:49px !important;
}

.padl-50{
	padding-left:50px !important;
}

.padl-51{
	padding-left:51px !important;
}

.padl-52{
	padding-left:52px !important;
}

.padl-53{
	padding-left:53px !important;
}

.padl-54{
	padding-left:54px !important;
}

.padl-55{
	padding-left:55px !important;
}

.padl-56{
	padding-left:56px !important;
}

.padl-57{
	padding-left:57px !important;
}

.padl-58{
	padding-left:58px !important;
}

.padl-59{
	padding-left:59px !important;
}

.padl-60{
	padding-left:60px !important;
}

.padl-61{
	padding-left:61px !important;
}

.padl-62{
	padding-left:62px !important;
}

.padl-63{
	padding-left:63px !important;
}

.padl-64{
	padding-left:64px !important;
}

.padl-65{
	padding-left:65px !important;
}

.padl-66{
	padding-left:66px !important;
}

.padl-67{
	padding-left:67px !important;
}

.padl-68{
	padding-left:68px !important;
}

.padl-69{
	padding-left:69px !important;
}

.padl-70{
	padding-left:70px !important;
}

.padl-71{
	padding-left:71px !important;
}

.padl-72{
	padding-left:72px !important;
}

.padl-73{
	padding-left:73px !important;
}

.padl-74{
	padding-left:74px !important;
}

.padl-75{
	padding-left:75px !important;
}

.padl-76{
	padding-left:76px !important;
}

.padl-77{
	padding-left:77px !important;
}

.padl-78{
	padding-left:78px !important;
}

.padl-79{
	padding-left:79px !important;
}

.padl-80{
	padding-left:80px !important;
}

.padl-81{
	padding-left:81px !important;
}

.padl-82{
	padding-left:82px !important;
}

.padl-83{
	padding-left:83px !important;
}

.padl-84{
	padding-left:84px !important;
}

.padl-85{
	padding-left:85px !important;
}

.padl-86{
	padding-left:86px !important;
}

.padl-87{
	padding-left:87px !important;
}

.padl-88{
	padding-left:88px !important;
}

.padl-89{
	padding-left:89px !important;
}

.padl-90{
	padding-left:90px !important;
}

.padl-91{
	padding-left:91px !important;
}

.padl-92{
	padding-left:92px !important;
}

.padl-93{
	padding-left:93px !important;
}

.padl-94{
	padding-left:94px !important;
}

.padl-95{
	padding-left:95px !important;
}

.padl-96{
	padding-left:96px !important;
}

.padl-97{
	padding-left:97px !important;
}

.padl-98{
	padding-left:98px !important;
}

.padl-99{
	padding-left:99px !important;
}

.padl-100{
	padding-left:100px !important;
}
