.state-active{
  border: 2px solid rgb(204, 23, 23);
}

.state-noactive{
  display: none;
}

  .property{
    color: black !important;
    background-color: rgb(39, 35, 223);
    border-radius: 10px;
    padding: 10px 30px;
  }

.submit{
  margin: 20px;
}