<!-- <div class="wrapper" *ngIf="!hidden">
        <div class="login-table">
            <div class="login-row">
                <label>Account ID</label>
                <input name="faccountid" type="text">
            </div>
            <div class="login-row">
                <label>Password</label>
                <input name="fpassworld" type="password">
            </div>
            <div class="login-row footer">
                <button>Sign in</button>
                <button (click)="login()" style="margin-left: 12px;">Login</button>
            </div>
        </div>
    </div> -->
<router-outlet></router-outlet>