.wrapper {
  height: 510px;
  width: 360px;
}

.wrapper .header {
  height: 50px;
  background-color: #66d9ff;
  text-align: center;
}

.wrapper .header label {
  font-size: 23px;
  padding-top: 10px;
  display: block;
}

.body .row {
  display: flex;
  width: 100%;
  height: 28px;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px;
}

.row select{
    width: 62%;
    height: 28px;
}

.row input{
    width: 60%;
    border: none;
    border-bottom: solid 1px #c8c8c8;
    outline: none;
    font-size: 16px;
}

.wrapper .footer{
    height: 32px;
    padding: 16px 0;
    display: flex;
    justify-content: flex-end;
}

.footer button{
    font-size: 16px;
    width: 84px;
}

button:focus-visible {
  outline: none !important;
}


