.header {
  height: 90px;
  width: 100%;
  background-color:#25252c;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition-duration: 2s;
  transition-property: all;
}


.header-container {
  height: 90px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  height: 90px;
}

.header__logo {
  width: 13%;
}

.header__nav {
  margin-left: 50px;
  margin-right: 50px;
}

.header__nav-item {
  position: relative;
  padding: 20px 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .75);
  font-weight: 600;
  cursor: pointer;
}

.header__nav-item-list {
  border-top: 3px solid #ba37a2;
  margin-top: 10px;
  position: absolute;
  width: 200px;
  max-height: 400px;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  background-color: #25252c;
  display: none;
  z-index: 10;
}

a {
  color: rgba(255, 255, 255, .75);
  padding: 5px 15px;
  display: block;
}

.form-search {
  width: 250px;
  border: none;
  outline: none;
  padding: 10px;
  float: left;
}

.fa-search {
  font-size: 20px;
  padding: 10px 15px;
  color: rgba(255, 255, 255, .75);
}


.fa-bell {
  font-size: 20px;
  padding: 10px 0px;
  color: rgba(255, 255, 255, .75);
  margin: 0 10px;
  cursor: pointer;
}


.loggin {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  background-image: linear-gradient(90deg, #ff55a5 0, #ff5860 100%);
}

.account {
  display: block;
  position: absolute;
  padding: 5px 0;
  top: 50px;
  left: 0;
  z-index: 10;
  width: 161px;
  color: #d5d5d5;
  background-color: #232329ad;
}

.profile,
.collection,
.donate,
.logout {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.fas {
  margin-right: 5px;
  font-size: 20px;
}

.menu-icon {
  cursor: pointer;
  display: none;
  font-size: 20px;
  padding: 10px 0 10px 15px;
  color: rgba(255, 255, 255, .75);
}



.form-movie {
  position: absolute;
  top: 41px;
  left: 0.000001px;
  max-height: 350px;
  width: 300px;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  background-color: #222222;
  border: 1px solid #d5d5d5;
  z-index: 100000;
}

.item-list-movie {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #e0e0e076;
}

.left {
  width: 26%;
  height: 100%;
}

img {
  border-radius: 5px;
}

.right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

p {
  margin-bottom: 2px !important;
  padding-left: 5px;
}

.name {
  width: 90%;
  font-weight: 700;
  color: #ff55a5;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.real-name {
  width: 90%;
  font-size: 13px;
  color: #d3c500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.country {
  font-size: 13px;
  color: #585ad4;
}